* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;

}
button{
    cursor: pointer;
}

header {
    padding-left: 2vh;
    padding-right: 10vh;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(177, 177, 177) 100%);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#div1 {

    display: flex;
    align-items: center;
    justify-content: center;
}

#voltar {
    background: none;
    border: none;
}

#voltarPg {
    height: 7vh;

}

.hoverFix {
    margin-left: 1vh;
    width: 3vw;

}

#voltarPg:hover {
    transition: 0.3s;
    height: 8vh;
}

#logo {
    margin-left: 2vh;
    height: 15vh;
}

#EcoGrow {

    font-size: 8vh;
    font-weight: bold;
    color: transparent;
    /* Torna o texto transparente para mostrar o background */
    background-image: linear-gradient(90deg, rgba(27, 157, 57, 1) 0%, rgba(140, 119, 70, 1) 100%);
    -webkit-background-clip: text;
    /* Recorta o background para o formato do texto */
    background-clip: text;
}

main {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(177, 177, 177) 100%);
}

#voltarPg {
    height: 7vh;
}

#voltarPg:active {
    opacity: 0.3;
}

#usuarioA1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    flex-direction: column;
    gap: 8vh;
    height: 60vh;
    width: 30vw;
    border-radius: 3vh;
     background: radial-gradient(circle, rgb(127, 167, 137) 0%, rgb(4, 51, 15) 100%);
    
}
#usuarioA2{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#criar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.escrita {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 9vh;
    width: 25vw;
}

.info{
    color: white;
}
#sair{
    font-size: 3.2vh;
    color: rgb(207, 209, 207);
    background: radial-gradient(circle, rgb(204, 60, 60) 20%, rgb(124, 16, 16) 100%);
    font-weight: bold;
    box-shadow: 0.5vh 0.5vh 0.5vh #000000a0;
    height: 5vh;
    width: 9vw;
    border-radius: 2.5vh;
    border: none;
}
#sair:active{
    opacity: 0.5;
}
#editar{
    font-size: 3.2vh;
    color: rgb(39, 124, 39);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(177, 177, 177) 100%);
    font-weight: bold;
    box-shadow: 0.5vh 0.5vh 0.5vh #000000a0;
    height: 5vh;
    width: 9vw;
    border-radius: 2.5vh;
    border: none;
}
#editar:active{
    opacity: 0.5;
}
#botoes{
    display: flex;
    gap: 5vh;
}