* {
    margin: 0;
    padding: 0;
   font-family: "DM Sans", sans-serif;
}
button{
  cursor: pointer;
}

header {
    padding-left: 2vh;
    padding-right: 10vh;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(177, 177, 177) 100%);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#div1 {

    display: flex;
    align-items: center;
    justify-content: center;
}

#voltar {
    background: none;
    border: none;
}

#voltarPg {
    height: 7vh;

}

.hoverFix {
    margin-left: 1vh;
    width: 3vw;

}

#voltarPg:hover {
    transition: 0.3s;
    height: 8vh;
}

#logo {
    margin-left: 2vh;
    height: 15vh;
}

#EcoGrow {

    font-size: 8vh;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(90deg, rgba(27, 157, 57, 1) 0%, rgba(140, 119, 70, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}
#favoritos{
    font-size: 7vh;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(90deg, rgba(140, 119, 70, 1) 0%, rgb(60, 51, 28) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}
main {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#voltarPg {
    height: 7vh;
}

#voltarPg:active {
    opacity: 0.3;
}

body{
      background: radial-gradient(circle, rgb(127, 167, 137) 0%, rgb(4, 51, 15) 100%);
}
main{
    height: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}
.planta{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 46vh;
  width: 20vw;
   background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(177, 177, 177) 100%);
  border-radius: 3vh;
}
.areaImg{
  height: 22vh;
  width: 18vw;
  background-color: #ffffff;
  border-radius: 2vh;
  overflow: hidden;
}
.imgPlanta{
  width: 100%;
  border-radius: 2vh;
  height: 100%;
  object-fit: cover;
}
.nome{
  color: #085200;
}
.tempo{
   color: #085200;
}
.gotas{
  display:flex;
  align-items: center;
  flex-direction: row;
  margin-left: 0.5vh;
}
.gota{
  height: 3vh;
}
.area{
 display: flex;
 align-items: center;
 flex-direction: row;
 
 justify-content: center;
}
.direita{
 padding-top: 0.3vh;
  display: flex;
  width: 7vw;
  height: 17vh;
  align-items: center;
  justify-content: space-around;
 
  flex-direction: column;
}
.esquerda{
   
    width: 11vw;
    display: flex;
    height: 17vh;
    flex-direction: column;
    justify-content: space-around;
}

#v1{
  height: 4.5vh;
}
#v2{
  height: 5.5vh;
}
#v3{
  height: 6.5vh;
}
.estacao{
  height: 25%;
  width: 18%;
}

#main{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 5vh;
  padding-top: 5vh;
  gap: 6vh;
}

.planta {
  min-width: 0;
}
