*{
    margin: 0;
    padding: 0;
     font-family: "DM Sans", sans-serif;

}
button{
  cursor: pointer;
}


header{
  
  padding-left: 2vh;
  padding-right: 10vh;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(177, 177, 177) 100%);
    position: fixed;
    height: 15vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
#div1{
  
display: flex;
align-items: center;
justify-content: center;
}
#options{
  height: 7vh;
  cursor: pointer;
  
}
#options:active{
  opacity: 0.3;
}
#options:hover{
  transition: 0.3s;
  height: 8vh;
}
#logo{
    height: 15vh;
}
#EcoGrow{
    font-size: 8vh;
    font-weight: bold;
    color: transparent; /* Torna o texto transparente para mostrar o background */
    background-image: linear-gradient(90deg, rgba(27, 157, 57, 1) 0%, rgba(140, 119, 70, 1) 100%);
    -webkit-background-clip: text; /* Recorta o background para o formato do texto */
    background-clip: text;
}
#pesquisa{
    padding-bottom: 1vh;
    padding-top: 1vh ;
    padding-left: 3vh;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(220, 220, 220) 100%);
    height: 5vh;
    border-radius: 5vh;
    border-color: linear-gradient(90deg, rgb(179, 153, 93) 50%,#4E4839 20%) ;
    border: none;
    width: 35vw;
    outline: none;
    font-size: 3vh;
    font-weight: bold;
}

    #pesquisa::placeholder{
        
        color: transparent; /* Torna o texto transparente para mostrar o background */
        background-image: linear-gradient(90deg, rgb(179, 153, 93) 5%,#4E4839 20%);
        -webkit-background-clip: text; /* Recorta o background para o formato do texto */
        background-clip: text;
        font-size: 3vh;
        font-weight: bold;
    }



.sidebar-toggle {

  height: 10vh;
  width: 5vw;
  background: none;
  border: none;
    
}

.container {
    display: flex;
}

.sidebar {
  display: flex;
  justify-content: center;
  
    width: 7vw;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(177, 177, 177) 100%);
    height: calc(100vh - 60px);
    position: fixed;
    left: -7vw;
    top:15vh;
    transition: left 0.3s ease;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar.active {
    position: fixed;
    left: 0;
    top:15vh;
}

.main-content {
    flex: 1;
    padding:2vh;
    position:relative;
    top: 15vh;
    transition: margin-left 0.3s ease;
    
    margin-left: 0;
}
body{
  background: radial-gradient(circle, rgb(127, 167, 137) 0%, rgb(4, 51, 15) 100%);
}

.main-content.shifted {
    margin-left: 7vw;
}

.sidebar nav ul {
  padding-top: 2vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
    
}

.sidebar nav ul li img {
    display: block;
    padding: 0.6rem;
    color: #333;
    text-decoration: none;
}

.sidebar nav ul li img:hover {
    opacity: 0.6;
}
.icons{
  cursor: pointer;
  height: 8vh;
}

.planta{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 43vh;
  width: 20vw;
   background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(177, 177, 177) 100%);
  border-radius: 3vh;
  cursor: pointer;
}
.areaImg{
  height: 22vh;
  width: 18vw;
  background-color: #ffffff;
  border-radius: 2vh;
  overflow: hidden;
}
.imgPlanta{
  width: 100%;
  border-radius: 2vh;
  height: 100%;
  object-fit: cover;
}
.nome{
  color: #085200;
}
.tempo{
   color: #085200;
}
.gotas{
  display:flex;
  align-items: center;
  flex-direction: row;
  margin-left: 0.5vh;
}
.gota{
  height: 3vh;
}
.area{
 display: flex;
 align-items: center;
 flex-direction: row;
 
 justify-content: center;
}
.direita{
 padding-top: 0.3vh;
  display: flex;
  width: 7vw;
  height: 17vh;
  align-items: center;
  justify-content: space-around;
 
  flex-direction: column;
}
.esquerda{
   
    width: 11vw;
    display: flex;
    height: 17vh;
    flex-direction: column;
    justify-content: space-around;
}

#v1{
  height: 4.5vh;
}
#v2{
  height: 5.5vh;
}
#v3{
  height: 6.5vh;
}
.estacao{
  height: 25%;
  width: 18%;
}

#main{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 5vh;
  padding-top: 5vh;
  gap: 6vh;
}

.planta {
  min-width: 0;
}
